<div class="container">
    <table class="table" *ngIf="customers">
        <thead>
            <tr class="bg-info text-white">
                <th>ID</th> <th>Name</th> <th>Email</th> <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers._embedded.customers">
<td>{{c.id}}</td>
<td>{{c.name}}</td>
<td>{{c.email}}</td>



<td>
    <button class="btn btn-danger" (click)="getBills(c)">Bills</button>
</td>
            </tr>
        </tbody>
    </table>
    
</div>